/*
Obsidian Plus Theme
*/

.theme-light {
    --color-tooltip-bg: #333;
    --color-tooltip-text: #fff;
}
  
.theme-dark {
    --color-tooltip-bg: #ccc;
    --color-tooltip-text: #000;
}

.cm-preview-code-block .block-language-dataviewjs ul > li {
    line-height: 1.6;
}

.cm-flagged-line {
    opacity: 0.5;
    position: relative;
    transition: opacity 0.2s;
}
  
.cm-flagged-line:hover {
    opacity: 1.0;
}
  
/* You can show a tooltip on hover by using ::after content */
.cm-flagged-line:hover::after {
    content: "Not a valid task!";
    position: absolute;
    right: 0px; /* adjust as needed */
    background-color: var(--color-tooltip-bg);
    color: var(--color-tooltip-text);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8em;
    z-index: 999;
}

.cm-error-line {
    color: #f53;
}

.cm-response-line {
    color: rgb(105, 151, 236);
}

/* for rendering checkboxes */
.block-language-dataviewjs ul > li:has(input[type="checkbox"]) {
    margin-inline-start: unset;
}

.my-search-wrapper input {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: -5px;
    width: 90%;
}

.op-expandable-item:hover {
    text-decoration: underline;
}
